spring:
  application:
    name: Orion
    jpa:
      open-in-view: false

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: identity

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG


