server:
  port: 9000

spring:
  application:
    name: auth-service
  config:
    import: "${SPRING_CONFIG_IMPORT:optional:configserver:http://localhost:8888/}"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
