server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/invest_orion_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:190512}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
