server:
  port: 8085

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/orion_notification_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:190512}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

---
# DOCKER PROFİLİ (Docker'da çalışırken burası devreye girer)
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres-db:5432/orion_notification_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:190512}
    driver-class-name: org.postgresql.Driver
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/

