# IDE
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Build
*.jar
*.war
*.ear
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env

# Package files
*.orig

